<div class="content">
  <div>
    <app-toggler [isActive]="true" (onChange)="onToggleChange($event)">
      <b class="app-toggler__title">User Title</b>
    </app-toggler>
    <app-toggler [disabled]="true">
      <b class="app-toggler__title">Team Title</b>
    </app-toggler>
  </div>
  <div>
    <app-search> </app-search>
  </div>
  <div>
    <app-action-button
      appDebounceClick
      (debounceClick)="log()"
      [debounceTime]="300"
    >
      Debounce Button
    </app-action-button>
    <p *shFor="5; let i">hello {{ i }}</p>
  </div>
</div>
