<div class="content">
  <div>
    <app-toggler [isActive]="true" (onChange)="onToggleChange($event)">
      <b class="app-toggler__title">User Title</b>
    </app-toggler>
    <app-toggler [disabled]="true">
      <b class="app-toggler__title">Team Title</b>
    </app-toggler>
  </div>
  <div>
    <app-search (searchUpdated)="onSearch($event, apiData)">
      <app-action-button>
        ✖
      </app-action-button>
    </app-search>
    <p *ngFor="let item of searchResults">
      {{item}}
    </p>
  </div>
</div>
